@charset "utf-8";
*{
margin:0px;
padding: 0px;
border: 0px;
}
body{
    background-image: url(img/borde_hojas.jpg);
    background-repeat: repeat-x;
	}
h1 {
    color: rgba(155,17,39,1.00);
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: underline;
    text-transform: capitalize;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 10px;
}
h2 {
    color: rgba(66,163,140,1.00);
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
}


img {
    font-weight: 400;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
    border-width: 3px;
    border-style: double ridge;
    border-color: rgba(171,11,14,1.00) rgba(0,0,0,1.00) rgba(34,11,148,1.00) rgba(14,167,41,1.00);	
}

p {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

li {
    color: rgba(2,7,31,1.00);
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-weight: 600;
    font-size: 22px;
    list-style-image: url(img/web_bullet.gif);
    margin-left: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
}

